@charset "UTF-8";

form{
    width: 500px;
    margin: auto;
}
input,textarea{
    font-family: sans-serif;
    font-weight: normal;
    font-size: 13pt;
}
input:hover, textarea:hover{
    background-color: #dddddd;
}
legend{
    color:#888888;
    font-weight: bold;
    font-size: 13pt;
    font-family: sans-serif;
}
fieldset{
    border-color: #cecece;
    margin: 20px;
}
fieldset#sexo{
    width: 150px;
}
#botao{
    display: flex;
    justify-content: center;
}
#chatbot{
    position: fixed;
    left: 77%;
    top: 50%;
}

#h2cont{
    color:gray;
}
#formcontato{
    color: black;
    text-align: center;  
}
#cont{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}