@charset "UTH-8";
*{
    margin-left: 0;
    margin-right: 0;
}
#image1{
    width: 100%;
    height: 500px;
}
h1{
    font-family: 'Estonia', cursive;    
    font-size: 140px;
    color: rgb(217, 165, 33);
    text-align: right;
    padding-right: 50px;
    margin: 0;
    text-shadow: 0.1em 0.1em 0.1em rgba(173, 132, 29, 0.507);
}
h2{
    text-align: center;
}
#menu{
    text-align: center;
    font-size: 30px;
    width: 100%;
    position: relative;   
}
h6{
    text-align: center;
}
a:link{
    text-decoration: none;
    color: gray
}
a:visited{
    color: gray
}
a:hover{
    background-color: lightgray;
    color: rgb(217, 165, 33);
    box-shadow: 1px 1px 1px 1px lightgrey;
    font-style: bold;
    transition: 1s;
    border-radius: 5%;
}
figure.foto-main{
    position: relative;
    box-shadow: 1px 1px 2px white;
}
figure.foto-main img{
    width: 100%;
    height: 100%;
}
figure.foto-main figcaption{
    position: absolute;
    top: 0;
    padding: 15% 13%;
    font-size: 20px;
    width: 100%;
    height: 100%;
    box-sizing:border-box;
    opacity: 0;
}
figure.foto-main figcaption:hover{
    opacity: 1;
    background-color: rgba(0,0,0,0.4);
    color: white;
}
